@media (max-width:739px){
    #header .search {
        display: none;
    }
    #header .nav {
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: rgb(34, 34, 34);
        width: 100%;
    }
    #header>.nav>li:first-child {
        display: block;
    }
    .li-nav-phone {
        padding: 0;
        display: none;
    }
    #header>.nav>li>a {
        width: 100%;
        display: inline-block;
        padding: 16px 12px;
        
    }
    #contents-container .authors-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contents-container .box-buy-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contents-container .box-buy-wrapper .box-buy-item {
        width: 100%;
        margin-bottom: 16px;
    }
    #contents-container .authors-wrapper:last-child {
        margin-bottom: 0px;
    }
    #contents-container .info-input {
        flex-direction: column;
    }
    #contents-container .info-input .info {
        margin-bottom: 16px;
    }
    #contents-container .input .send-btn,
    #contents-container .box-buy-item .buy-btn {
        width: 100%;
    }
    .phone-menu {
        display: block;
    }
    .pop-up-container .pop-up-box {
        width: 90%;
    }
}